* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  font-family: "Poppins", "sans-serif";
  background-color: var(--primary);
}

:root {
  --primary: #f5edf0;
  --blue: #355070;
  --red: #70161E;
  --purple: #6D597A;
  --secondary: #D1CCDC;
}

/* Filter Settings
red: filter: invert(42%) sepia(44%) saturate(2134%) hue-rotate(341deg) brightness(92%) contrast(106%);
blue: filter: invert(27%) sepia(6%) saturate(3691%) hue-rotate(173deg) brightness(102%) contrast(91%); 
secondary: filter: invert(90%) sepia(13%) saturate(194%) hue-rotate(217deg) brightness(92%) contrast(88%);
*/

.home_container{
  display: flex;
}