* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

:root {
  --primary: #f5edf0;
  --secondary: #355070;
  --highlight: #F15025;
  --purple: #6D597A;
  --gray: #D1CCDC;
}