.display_main{
  padding-top: 90px;
  width: 65vw;
  min-height: 100vh;
  background-color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
}

.display_empty{
  height: 500px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 8px dashed var(--secondary);
  border-radius: 15px;
}

.display_empty > img{
  height: 100px;
  width: auto;
  filter: invert(90%) sepia(13%) saturate(194%) hue-rotate(217deg) brightness(92%) contrast(88%);
}

.display_empty > p{
  padding-top: 50px;
  font-size: 2rem;
  color: var(--purple);
}

.display_cardContainer{
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 150px;
  justify-content: center;
  align-items: center;
  border: 2px solid green;
  transition: all .3s ease;
}

.display_cardDrinkImage{
  height: 100px;
  width: 100px
}

.display_allCards{
  padding-top: 90px;
  width: 65vw;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  gap: 25px;
  border: 1px solid red;
  flex-wrap: wrap;
}