.navbar_container{
  position: fixed;
  width: 100vw;
  z-index: 100;
  background-color: var(--blue);
  height: 80px;
  box-shadow: -1px 5px 20px 0px rgba(0,0,0,0.6);
}

.navbar_content {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  height: 80px;
}

.navbar_logo{
  height: 45px;
  margin: 0px 45px;
  filter: invert(96%) sepia(66%) saturate(422%) hue-rotate(238deg) brightness(109%) contrast(92%);
}

.navbar_search{
  display: flex;
  align-items: center;
  gap: 30px;
  color: var(--primary)
}

.navbar_search > input {
  border-radius: 10px;
  border: none;
  height: 25px;
  padding: 0px 8px;
  font-size: 1.4rem;
}

.navbar_search > input:focus {
  outline: none;
}

.navbar_favorites, .navbar_viewSearches{
  margin-right: 30px;
  border: 2px solid var(--primary);
  padding: 8px 10px;
  color: var(--primary);
  background-color: var(--blue);
  font-size: 1.4rem;
  border-radius: 15px;
  transition: .4s;
}

.navbar_favorites:hover, .navbar_viewSearches{
  background-color: var(--primary);
  color: var(--blue);
  cursor: pointer;
}

.navbar_viewSearches:hover{
  background-color: var(--blue);
  color: var(--primary);
}

@media screen and (max-width: 700px){
  .navbar_search{
    font-size: .9rem;
    flex-direction: column;
    gap: 10px;
    margin-left: 15px;
  }

  .navbar_logo{
   display: none;
  }
}