.navbar_container{
  position: fixed;
  width: 100vw;
  z-index: 100;
  background-color: var(--blue);
  height: 80px;
  box-shadow: -1px 5px 20px 0px rgba(0,0,0,0.6);
}

.navbar_content {
  display: flex;
  justify-content: end;
  align-items: center; 
  height: 80px;
}

.navbar_rightSide{
  display: flex;
  align-items: center;
  gap: 30px;
  color: var(--primary)
}

.navbar_rightSide > input {
  border-radius: 10px;
  border: none;
  height: 25px;
  padding: 0px 8px;
  font-size: 1.4rem;
}

.navbar_rightSide > input:focus {
  outline: none;
}

.navbar_favorites{
  margin: 0px 30px 0px 100px;
  border: 2px solid var(--primary);
  padding: 8px 10px;
  color: var(--primary);
  background-color: var(--blue);
  font-size: 1.4rem;
  border-radius: 15px;
}

.navbar_favorites:hover{
  background-color: var(--primary);
  color: var(--blue);
  cursor: pointer;
}